/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles can go here */


*{
  box-sizing: border-box;
  overflow-x:hidden;
}
.custom-nav *{
  overflow-x: visible;
}
.yellow {
  background-color: #E3B522;
}


body{
  margin: 0;
  font-family: sans-serif;
  
}
.blue{
  background-color: #14BDE3;
}